body {
    background: #888;
    margin: 0;
    padding: 0;
}

canvas {
    position: fixed;
}

#entities-render, #map-render, #effects-render {
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
}

#entities-render, #collision-render, #map-render {
    border: 1px solid #fff;
}

#debug-render {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.6);
    width: 200px;
    height: 450px;
    margin-top: 0;
}

#hud-render {
    width: 400px;
    height: 10px;
    border: none;
    top: 420px;
}

#top-offscreen {
    opacity: 0.5;
    top: 450px;
    left: 200px;
}

#bottom-offscreen {
    opacity: 0.5;
    top: 534px;
    left: 200px;
}

#destination {
    opacity: 0.5;
    top: 450px;
    left: 500px;
}

#top-offscreen.disabled,
#bottom-offscreen.disabled,
#destination.disabled {
    display: none;
}